@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');

.main_content {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#accountInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 55px 0 45px 0;
}

#accountInfo h3 {
	letter-spacing: 3px;
	font-size: 15px;
}

#accountInfo h1.account_balance {
	font-size: 80px;
	margin: 15px 0 50px 0;
	letter-spacing: 5px;
	font-family: 'Open Sans', sans-serif;
}

#accountInfo .account_btns {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#accountInfo .account_btns .btn {
	width: 300px;
	margin: 0 10px;
}

#accountInfo_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(var(--sectionWidth_XL) - (2 * var(--blockCtnPadding_LR)));
	height: 520px;
	padding: 20px var(--blockCtnPadding_LR);
	padding-bottom: 0;
}

#accountInfo_details .title_ctn {
	margin-top: 0;
	margin-bottom: 0;
}

#accountInfo_details .table {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#accountInfo_details .table .col_1_2 {
	width: 30%;
}

#accountInfo_details .table .col_1 {
	width: 5%;
}

#accountInfo_details .table .col_2 {
	width: 25%;
}

#accountInfo_details .table .col_3 {
	width: 40%;
}

#accountInfo_details .table .col_4, #accountInfo_details .table .col_5 {
	width: 15%;
}

#accountInfo_details .table .thead {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px solid var(--greyE1);
	height: 45px;
}

#accountInfo_details .table .thead .th {
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#accountInfo_details .table .tbody {
	height: calc(100% - 45px);
	padding-bottom: 40px;
	overflow-y: scroll;
}

#accountInfo_details .table .tbody .tr {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 65px;
	overflow: hidden;
	margin-top: 20px;
}

#accountInfo_details .table .tbody .tr .td {
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	word-break: break-all;
}

#accountInfo_details .table .tbody .tr .td.tb_img {
	display: flex;
	align-items: center;
	justify-content: center;
}

#accountInfo_details .table .tbody .tr .td.tb_img .contact_img {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#accountInfo_details .table .tbody .tr .td.tb_img .contact_img img {
	width: 100%;
}

#accountInfo_details .table .tbody .tr .td.tb_description {
	text-align: left;
	padding: 0 5px;
}




