.main_content {
	align-items: center;
}

#changePassword_ctn {
	width: calc(var(--sectionWidth_L) - (2 * var(--blockCtnPadding_LR)));
	padding: 30px var(--blockCtnPadding_LR);
}

#changePassword_ctn .form {
	width: 75%;
	margin-top: 40px;
}

#changePassword_ctn .input_btn {
	width: 250px;
	margin-top: 30px;
}