@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');

body {
	background: url('../assets/background.png') no-repeat center;
	background-size: 100% auto;
	flex-direction: column;
	align-items: center;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: -1;
	/*opacity: 0.15;*/
	opacity: 0;
}

/* ALERT ---------------------------------------------------- */

	.main_alerts {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 1000;
		align-items: center;
		justify-content: center;
	}

	#selectAlert {
		width: calc(var(--sectionWidth_L) - (2 * var(--blockCtnPadding_LR)));
		padding: 30px var(--blockCtnPadding_LR);
		height: 500px;
		position: relative;
		padding-bottom: 0;
	}

	#selectAlert .alert_closeBtn {
		position: absolute;
		top : -15px;
		right: -15px;
		z-index: 1001;
		height: 40px;
		width: 40px;
		box-shadow: var(--shadow_lv2);
	}

	#selectAlert .resultSet_ctn {
		height: calc(100% - 65px);
		overflow: scroll;
	}

	#selectAlert .resultSet_ctn h1.resultSet_sectionTitle {
		font-size: 15px;
		letter-spacing: 2px;
		color: var(--greyCA);
		margin-bottom: 20px;
	}

	#selectAlert .resultSet_ctn h1.resultSet_sectionTitle:not(#selectAlert .resultSet_ctn h1.resultSet_sectionTitle:nth-child(1)) {
		margin-top: 40px;
	}

	#selectAlert .resultSet_ctn .result_option {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin: 20px 30px;
		height: 45px;
	}

	#selectAlert .resultSet_ctn .result_option .option_icon, #selectAlert .resultSet_ctn .result_option .option_btn {
		height: 40px;
		width: 40px;
		border-radius: 40px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#selectAlert .resultSet_ctn .result_option .option_icon img, #selectAlert .resultSet_ctn .result_option .option_btn img  {
		width: 100%;
	}

	#selectAlert .resultSet_ctn .result_option .option_btn img {
		visibility: hidden;
	}

	#selectAlert .resultSet_ctn .result_option:hover .option_btn img {
		visibility: visible;
	}

	#selectAlert .resultSet_ctn .result_option .option_info {
		width: calc(100% - 80px - 60px);
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#selectAlert .resultSet_ctn .result_option .option_info h2 {
		font-size: 15px;
		letter-spacing: 2px;
		margin-bottom: 5px;
	}

	#selectAlert .resultSet_ctn .result_option .option_info h3 {
		font-size: 10px;
		letter-spacing: 2px;
		color: var(--greyCA);
	}

/* HEADER --------------------------------------------------- */
	.main_header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: var(--mainHeaderHeigth);
		width: calc(100% - 50px);
		padding: var(--mainPadding);
	}

	.main_header .logo img {
		height: 17px;
	}

	.main_header .logout {
		justify-content: flex-start;
		background: #FFF;
		width: 45px;
		box-shadow: var(--shadow_lv2);
		transition: var(--mainTransition);
	}

	.main_header .logout:hover {
		width: 135px;
	}

	.main_header .logout .subContainer {
		height: 100%;
		width: 135px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.main_header .logout .subContainer .feather {
		width: 20px;
		height: 20px;
		padding: 12.5px;
	}

	.main_header .logout .subContainer .label {
		display: block;
		word-break: keep-all;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 13px;
		font-weight: bold;
	}

/* NAVIGATION ------------------------------------------------ */

	.main_nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.main_nav_element {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: 13px;
		color: var(--greyE1);
	}

	.main_nav_element.selected, .main_nav_element:hover {
		color: #000;
	}

/* CONTENT --------------------------------------------------- */
	.main_content {
		display: flex;
		justify-content: center;
		width: calc(100% - 50px);
		height: calc(100% - var(--mainHeaderHeigth) - var(--mainFooterHeight));
		padding: var(--mainPadding);
	}

/* FOOTER --------------------------------------------------- */
	.main_footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: var(--mainFooterHeight);
		width: calc(100% - 50px);
		color: var(--greyE1);
		font-size: 12px;
		padding: var(--mainPadding);
		letter-spacing: 2px;
	}