@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');

.main_content {
	align-items: center;
}

#signup_ctn {
	width: calc(var(--sectionWidth_L) - (2 * var(--blockCtnPadding_LR)));
	padding: 30px var(--blockCtnPadding_LR);
}

#signup_ctn .form {
	width: 75%;
	margin-top: 30px;
}

div.input_ctn {
	margin-bottom: 25px;
}

div.input_ctn label.input_label {
	margin-bottom: 10px;
}

div.comp_input_ctn {
	align-items: center;
}