/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

:root {
	--green: #19A419;
	--blue: #0080FF;
	--red: #CC0000;
	--yellow: #FFD700;
	--grey1E: #1E1E1E;
	--grey3C: #3C3C3C;
	--grey69: #696969;
	--grey96: #969696;
	--greyCA: #CACACA;
	--greyE1: #E1E1E1;
	--appBlue: #3B6D78;
	--appPurple: #9812AC;
	--facebookColor: #4267B2;
	--twitterColor: #1DA1F2;
	--shadow_lv1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	--shadow_lv2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	--mainHeaderHeigth: 80px;
	--mainFooterHeight: 40px;
	--mainTransition: all 0.3s cubic-bezier(.52,.08,.38,.91);
	--mainPadding: 0 25px 0 25px;
	--blockCtnPadding_TB: 30px;
	--blockCtnPadding_LR: 50px;
	--blockCtnPadding: var(--blockCtnPadding_TB) var(--blockCtnPadding_LR);
	--sectionWidth_S: 500px;
	--sectionWidth_M: 650px;
	--sectionWidth_L: 800px;
	--sectionWidth_XL: 1000px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Open Sans',  sans-serif;
}

body {
	display: flex;
	position: relative;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

textarea, input {
	border: none;
	background: none;
	font-family: 'Open Sans',  sans-serif;
}

textarea:focus, input:focus{
	outline: none;
}

button {
	border: none;
	cursor: pointer;
}

::placeholder {
	color: var(--greyE1);
}

input:disabled {
	color: var(--grey96);
}

.disable {
	display: none;
}

.enable {
	display: flex;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.underline {
	text-decoration: underline;
}

/* COLOR ----------------------------------------------- */
	
	.c_white {
		color: #FFF;
	}

	.c_black {
		color: #000;
	}

	.c_red {
		color: var(--red);
	}

	.c_blue {
		color: var(--blue);
	}

	.c_green {
		color: var(--green);
	}

	.c_blueApp {
		color: var(--appBlue);
	}

	.c_purpleApp {
		color: var(--appPurple);
	}

	.c_facebook {
		color: var(--facebookColor);
	}

	.c_twitter {
		color: var(--twitterColor);
	}

	.c_greyE1 {
		color: var(--greyE1);
	}

	.c_grey1E {
		color: var(--grey1E);
	}

	.c_grey3C {
		color: var(--grey3C);
	}

	.c_greyCA {
		color: var(--greyCA);
	}

	.c_grey69 {
		color: var(--grey69);
	}

	.c_grey96 {
		color: var(--grey96);
	}

/* BACKGROUND ----------------------------------------------- */

	.b_white {
		background: #FFF;
	}

	.b_black {
		background: #000;
	}

	.b_red {
		background: var(--red);
	}

	.b_blue {
		background: var(--blue);
	}

	.b_green {
		background: var(--green);
	}

	.b_blueApp {
		background: var(--appBlue);
	}

	.b_purpleApp {
		background: var(--appPurple);
	}

	.b_facebook {
		background: var(--facebookColor);
	}

	.b_twitter {
		background: var(--twitterColor);
	}

	.b_greyE1 {
		background: var(--greyE1);
	}

	.b_grey1E {
		background: var(--grey1E);
	}

	.b_grey3C {
		background: var(--grey3C);
	}

	.b_greyCA {
		background: var(--greyCA);
	}

	.b_grey69 {
		background: var(--grey69);
	}

	.b_grey96 {
		background: var(--grey96);
	}

/* BUTTONS ----------------------------------------------- */
	
	.btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: var(--mainTransition);
		cursor: pointer;
	}

	.btn_label {
		height: 45px;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 3px;
		text-transform: uppercase;
		padding: 0 20px;
	}

	.circle {
		border-radius: 100px;
	}

	.round {
		border-radius: 15px;
	}

	.btn_anim:hover {
		box-shadow: var(--shadow_lv1);
		transform: translateY(-5px);
	}

/* FEATHER ICONS ----------------------------------------- */
	
	.feather {
		width: 24px;
		height: 24px;
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}

	.f_white {
		stroke: #FFF;
	}

	.f_black {
		stroke: #000;
	}

	.f_red {
		stroke: var(--red);
	}

	.f_blue {
		stroke: var(--blue);
	}

	.f_green {
		stroke: var(--green);
	}

	.f_blueApp {
		stroke: var(--appBlue);
	}

	.f_purpleApp {
		stroke: var(--appPurple);
	}

	.f_greyE1 {
		stroke: var(--greyE1);
	}

	.f_grey1E {
		stroke: var(--grey1E);
	}

	.f_grey3C {
		stroke: var(--grey3C);
	}

	.f_greyCA {
		stroke: var(--greyCA);
	}

	.f_grey69 {
		stroke: var(--grey69);
	}

	.f_grey96 {
		stroke: var(--grey96);
	}

/* BLOCK SECTION ----------------------------------------- */
	
	.block_ctn {
		display: flex;
		flex-direction: column;
		background: #FFF;
		border-radius: 25px;
		box-shadow: var(--shadow_lv2);
		padding: var(--blockCtnPadding);	
	}

	.title_ctn {
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Catamaran', sans-serif;
		letter-spacing: 5px;
		font-size: 20px;
		margin: auto;
	}

/* FORM ------------------------------------------------- */

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
	}

	/* CONTAINER ------------------------------------------------- */

		div.comp_input_ctn {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		div.sub_comp_input_ctn {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		div.input_ctn {
			display: flex;
			width: 100%;
		}

		div.input_ctn.disable {
			display: none;
		}

		div.input_ctn.text, div.input_ctn.radio, div.input_ctn.select {
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 35px;
		}

		div.input_ctn.chk, div.input_ctn.text_icon {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		div.input_ctn.chk {
			margin-bottom: 35px;
		}

		div.input_ctn.text_icon {
			margin-bottom: 25px;
		}

		div.input_ctn.btns {
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 0;
		}

		div.input_ctn label.input_label {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 4px;
			margin-bottom: 15px;
		}

		div.input_ctn label.input_label span.input_sub_label {
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 2px;
			color: var(--greyCA);
			margin-left: 5px;
		}

		div.input_ctn .input_link {
			text-align: right;
			margin: 15px 0;
			font-size: 13px;
			color: var(--appPurple);
			letter-spacing: 1.5px;
		}

		div.input_ctn.centerText {
			justify-content: center;
			align-items: center;
			font-size: 13px;
			margin: 10px 0;
			letter-spacing: 1.5px;
		}


		/* TEXT / TEXTAREA --------------------------------------- */

			div.input_ctn.text input.input_text, div.input_ctn.text textarea.input_textarea, div.input_ctn.text_icon input.input_text {
				border: 1.5px solid var(--greyE1);
				border-radius: 7px;
				letter-spacing: 2px;
				font-size: 15px;
				font-weight: normal;
			}

			div.input_ctn.text input.input_text.center {
				text-align: center;
			}

			div.input_ctn.text input.input_text, div.input_ctn.text_icon input.input_text {
				height: 45px;
				padding: 0 15px;
			}

			div.input_ctn.text textarea.input_textarea {
				height: 100px;
				padding: 15px;
				resize: none;
			}

			div.input_ctn.text_icon .feather {
				margin-right: 20px;
			}

			div.input_ctn.text_icon input.input_text  {
				width: 100%;
			}

		/* CHECKBOX ------------------------------------------------- */

			div.input_ctn.chk div.input_chk {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 56px;
				height: 26px;
				padding: 1.5px;
				border-radius: 30px;
				position: relative;
			}

			div.input_ctn.chk div.input_chk.off {
				background: var(--greyE1);
				border: 1.5px solid var(--greyE1);
			}

			div.input_ctn.chk div.input_chk.on {
				background: var(--green);
				border: 1.5px solid var(--green);
			}

			div.input_ctn.chk div.input_chk span:not(div.input_ctn.chk div.input_chk span.chk_btn) {
				font-weight: bold;
				color: #FFF;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
			}

			div.input_ctn.chk div.input_chk span.chk_btn {
				position: absolute;
				background: #FFF;
				z-index: 1;
				display: block;
				width: 26px;
				height: 26px;
				border-radius: 30px;
				transition: var(--mainTransition);
			}

			div.input_ctn.chk div.input_chk.off span.chk_btn {
				right: 1.5px;
			}

			div.input_ctn.chk div.input_chk.on span.chk_btn {
				left: 1.5px;
			}

			div.input_ctn.chk .label_chk {
				margin-left: 15px;
				letter-spacing: 2px;
				font-size: 13px;
			}

		/* BUTTONS ------------------------------------------------- */

			div.input_ctn.btns .btn {
				width: 200px;
				cursor: pointer;
				transition: var(--mainTransition);
				margin: 0 10px;
			}

		/* RADIO ---------------------------------------------------- */

			div.input_radio_ctn {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: 45px;
			}

			.radio_btn {
				width: 45px;
				height: 35px;
				background: var(--greyCA);
				border-radius: 12.5px;
				margin: 0 5px;
				cursor: pointer;
				transition: var(--mainTransition);
			}

			.radio_btn.selected, .radio_btn:hover {
				background: #000;
			}

		/* SELECT --------------------------------------------------- */

			div.input_ctn.select div.input_select {
				border: 1.5px solid var(--greyE1);
				display: flex;
				flex-direction: row;
				align-items: center;
				border-radius: 7px;
				height: 45px;
				padding: 0 15px;
				letter-spacing: 2px;
				font-size: 15px;
				font-weight: normal;
				position: relative;
			}

			div.input_ctn.select div.input_select.unselect span {
				color: var(--greyE1);
			}

			div.input_ctn.select div.input_select.selected span {
				color: #000;
			}

			div.input_ctn.select div.input_select.unselect .feather {
				stroke: var(--greyE1);
			}

			div.input_ctn.select div.input_select.selected .feather {
				stroke: #000;
			}

			div.input_ctn.select div.input_select .feather {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				height: 17px;
			}
