<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="accountInfo">
    <header th:replace="header_frg :: main_header"></header>
    <nav th:replace="navigation_frg :: navigation('account')"></nav>
    <main class="main_content">
        <section id="accountInfo">
            <h3 class="c_greyE1">Account Balance</h3>
            <h1 class="account_balance" th:text="${user.getAccount().getAmountLib()}" th:classappend="${user.getAccount().getAmount() >= 0} ? c_green : c_red"></h1>
            <div class="account_btns">
                <a th:href="@{/feed-account}" class="btn btn_label round btn_anim b_grey69 c_white">Feed Account</a>
                <a th:href="@{/manage-card}" class="btn btn_label btn_anim round b_black c_white">Manage my cards</a>
            </div>
        </section>
        <section id="accountInfo_details" class="block_ctn">
            <div class="table">
                <div class="thead">
                    <span class="col_1_2 th">Contact</span>
                    <span class="col_3 th">Description</span>
                    <span class="col_4 th">Date</span>
                    <span class="col_5 th">Amount</span>
                </div>
                <div class="tbody">
                    <div th:each="transaction : ${transactions}" class="tr">
                        <div th:if="${transaction.getContactUser(user.id) != null}" class="col_1 td tb_img">
                            <span class="contact_img">
                                <img th:src="@{'/assets/profilePicture/' + ${transaction.getContactUser(user.id).getId()} + '_' + ${transaction.getContactUser(user.id).getFirstName()} + '_' + ${transaction.getContactUser(user.id).getLastName()} + ${transaction.getContactUser(user.id).getProfilePictureExt()}}" alt="profile_pct">
                            </span>
                        </div>
                        <div th:unless="${transaction.getContactUser(user.id) != null}" class="col_1 td tb_img">
                            <span class="contact_img">
                                <img th:if="${transaction.getCard().getType() == 'VISA'}" th:src="@{/assets/icons/visa.svg}"/>
                                <img th:unless="${transaction.getCard().getType() == 'VISA'}" th:src="@{/assets/icons/mastercard_simply.svg}"/>
                            </span>
                        </div>
                        <div th:if="${transaction.getContactUser(user.id) != null}" class="col_2 td tb_contact" th:text="${transaction.getContactUser(user.id).getFullNameCasted(true)}"></div>
                        <div th:unless="${transaction.getContactUser(user.id) != null}" class="col_2 td tb_contact" th:text="${transaction.getCard().getWordingLib()}"></div>
                        <div th:if="${transaction.getContactUser(user.id) != null}" class="col_3 td tb_description" th:text="${transaction.getHistoryDescription()}"></div>
                        <div th:unless="${transaction.getContactUser(user.id) != null}" class="col_3 td tb_description" th:text="${transaction.getHistoryDescription()}"></div>
                        <div th:if="${transaction.getContactUser(user.id) != null}" class="col_4 td tb_date" th:text="${transaction.date}"></div>
                        <div th:unless="${transaction.getContactUser(user.id) != null}" class="col_4 td tb_date" th:text="${transaction.date}"></div>
                        <div th:if="${transaction.getContactUser(user.id) != null}" class="col_5 td tb_amount" th:text="${transaction.getTransactionLib(user.id)}" th:classappend="${transaction.getUserTo().getId() == user.id} ? c_green : c_red"></div>
                        <div th:unless="${transaction.getContactUser(user.id) != null}" class="col_5 td tb_amount" th:text="${transaction.getTransactionLib(user.id)}" th:classappend="${transaction.getUserTo().getId() == user.id} ? c_green : c_red"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>