<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="tranfer-alert" class="alert block_ctn" id="selectTransferAlert">
        <span class="alert_closeBtn btn circle b_white">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#x}"/>
            </svg>
        </span>
        <div class="resultSet_ctn">
            <h1 class="resultSet_sectionTitle">Friends</h1>
            <div th:each="friend : ${friends}" class="result_option" th:data-id="${friend.id}" th:data-name="${friend.getFullNameCasted(false)}"  th:data-email="${friend.email}">
                <div class="option_icon">
                    <img th:if="${friend.getProfilePictureExt() != null}" th:src="@{'assets/profilePicture/' + ${friend.id} + '_' + ${friend.firstName} + '_' + ${friend.lastName} + ${friend.getProfilePictureExt()}}" alt="profile_pct">
                    <img th:unless="${friend.getProfilePictureExt() != null}" th:src="@{assets/icons/user.svg}" alt="profile_pct">
                </div>
                <div class="option_info">
                    <h2 th:text="${friend.getFullNameCasted(false)}"></h2>
                    <h3 th:text="${friend.email}"></h3>
                </div>
                <div class="option_btn">
                    <svg class="feather f_black">
                        <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="country-alert" class="alert block_ctn" id="countryAlert">
        <span class="alert_closeBtn btn circle b_white">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#x}"/>
            </svg>
        </span>
        <div class="input_ctn text_icon">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
            </svg>
            <input type="text" name="alert_search_field" id="alert_search_field" class="input_text" placeholder="Search ...">
        </div>
        <div class="resultSet_ctn">
            <div th:each="entry : ${countries}" class="result_option" th:data-value="${entry.key}" th:data-name="${entry.value}">
            	<span class="option_icon">
					<h2 th:text="${entry.key}"></h2>
				</span>
            	<div class="option_info">
                	<h2 th:text="${entry.value}"></h2>
                </div>
            	<span class="option_btn">
					<svg class="feather f_black">
					    <use href="/assets/icons/feather-sprite.svg#check"/>
					</svg>
				</span>
            </div>
        </div>
    </div>
</body>
</html>