<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="tranfer-alert" class="alert block_ctn" id="selectTransferAlert">
        <span class="alert_closeBtn btn circle b_white">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#x}"/>
            </svg>
        </span>
        <div class="input_ctn text_icon">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
            </svg>
            <input type="text" name="alert_search_field" id="alert_search_field" class="input_text" placeholder="Search ...">
        </div>

        <div class="resultSet_ctn">
            <h1 class="resultSet_sectionTitle">Accounts</h1>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/icons/visa.svg}" alt="visa_logo">
                        </span>
                <div class="option_info">
                    <h2>BANK ACCOUNT - MORGAN STANLEY</h2>
                    <h3>**** **** **** 1234</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/icons/buddy_account.png}" alt="buddyAccount_logo">
                        </span>
                <div class="option_info">
                    <h2>MY BUDDY ACCOUNT</h2>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <h1 class="resultSet_sectionTitle">Friends</h1>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/profilePicture/juanita_emard.jpg}" alt="profile_pct">
                        </span>
                <div class="option_info">
                    <h2>Juanita EMARD</h2>
                    <h3>juanita.emard@email.com</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/profilePicture/alexane_collins.jpg}" alt="profile_pct">
                        </span>
                <div class="option_info">
                    <h2>Alexane COLLINS</h2>
                    <h3>alexane.collins@email.com</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/profilePicture/ford_bashirian.jpg}" alt="profile_pct">
                        </span>
                <div class="option_info">
                    <h2>Ford BASHIRIAN</h2>
                    <h3>ford.bashirian@email.com</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/profilePicture/alexane_collins.jpg}" alt="profile_pct">
                        </span>
                <div class="option_info">
                    <h2>Alexane COLLINS</h2>
                    <h3>alexane.collins@email.com</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
            <div class="result_option">
                        <span class="option_icon">
                            <img th:src="@{/assets/profilePicture/ford_bashirian.jpg}" alt="profile_pct">
                        </span>
                <div class="option_info">
                    <h2>Ford BASHIRIAN</h2>
                    <h3>ford.bashirian@email.com</h3>
                </div>
                <span class="option_btn">
                        <svg class="feather f_black">
                            <use th:href="@{/assets/icons/feather-sprite.svg#check}"/>
                        </svg>
                    </span>
            </div>
        </div>
    </div>

    <div th:fragment="country-alert" class="alert block_ctn" id="countryAlert">
        <span class="alert_closeBtn btn circle b_white">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#x}"/>
            </svg>
        </span>
        <div class="input_ctn text_icon">
            <svg class="feather f_black">
                <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
            </svg>
            <input type="text" name="alert_search_field" id="alert_search_field" class="input_text" placeholder="Search ...">
        </div>
        <div class="resultSet_ctn">
            <div th:each="entry : ${countries}" class="result_option" th:data-value="${entry.key}" th:data-name="${entry.value}">
            	<span class="option_icon">
					<h2 th:text="${entry.key}"></h2>
				</span>
            	<div class="option_info">
                	<h2 th:text="${entry.value}"></h2>
                </div>
            	<span class="option_btn">
					<svg class="feather f_black">
					    <use href="/assets/icons/feather-sprite.svg#check"/>
					</svg>
				</span>
            </div>
        </div>
    </div>
</body>
</html>