<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="change-password" id="changePassword_ctn" class="block_ctn">
        <h1 class="title_ctn">Change Password</h1>
        <form class="form" action="#" method="POST">
            <div class="input_ctn text">
                <label for="old_password" class="input_label">Old password</label>
                <input type="password" name="old_password" id="old_password" placeholder="●●●●●●●●" class="input_text">
            </div>
            <div class="input_ctn text">
                <label for="new_password" class="input_label">New password</label>
                <input type="password" name="new_password" id="new_password" placeholder="●●●●●●●●" class="input_text">
            </div>
            <div class="input_ctn text">
                <label for="new_chk_password" class="input_label">Verified new password</label>
                <input type="password" name="new_chk_password" id="new_chk_password" placeholder="●●●●●●●●" class="input_text">
            </div>
            <div class="input_ctn btns">
                <a th:href="@{/profile}" class="input_btn btn btn_label btn_anim round b_red c_white">Cancel</a>
                <input type="submit" name="submit" id="input_btn_submit" class="input_btn btn btn_label btn_anim round b_green c_white" value="Change password">
            </div>
        </form>
    </section>
</body></html>