<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="contact">
    <header th:replace="header_frg :: main_header"></header>
    <nav th:replace="navigation_frg :: navigation('contact')"></nav>
    <main class="main_content">
        <section class="block_ctn" id="contact_ctn">
            <div class="input_ctn text_icon">
                <svg class="feather f_black">
                    <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
                </svg>
                <input type="text" name="search_field" id="search_field" class="input_text" placeholder="Search ...">
            </div>
            <div class="resultSet_ctn">
                <h1 class="resultSet_sectionTitle">My Friends</h1>
                <div th:each="friend : ${friends}" class="result_option">
                    <a th:href="@{/contact/profile/{id} (id=${friend.id})}" class="option_icon">
                        <img th:if="${friend.getProfilePictureExt() != null}" th:src="@{'assets/profilePicture/' + ${friend.id} + '_' + ${friend.firstName} + '_' + ${friend.lastName} + ${friend.getProfilePictureExt()}}" alt="profile_pct">
                        <img th:unless="${friend.getProfilePictureExt() != null}" th:src="@{assets/icons/user.svg}" alt="profile_pct">
                    </a>
                    <a th:href="@{/contact/profile/{id} (id=${friend.id})}" class="option_info">
                        <h2 th:text="${friend.getFullNameCasted()}"></h2>
                        <h3 th:text="${friend.email}"></h3>
                    </a>
                    <a th:href="@{/contact/friends/remove?id={id}&from={from} (id=${friend.id}, from='/contact')}" class="option_btn">
                        <svg class="feather f_red">
                            <use th:href="@{/assets/icons/feather-sprite.svg#user-minus}"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>