<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section id="contactProfile_ctn" class="block_ctn">
        <a href="#" class="backBtn btn circle b_white">
            <svg class="feather f_black" style="display: none;">
                <use th:href="@{/assets/icons/feather-sprite.svg#chevron-left}"/>
            </svg>
<!-- REMOVE --> <img src="../static/assets/icons/feather/chevron-left.svg" class="feather"/>
        </a>
        <div class="contactProfilePicture">
<!-- REMOVE --> <img src="../static/assets/profilePicture/jessica-felicio-_cvwXhGqG-o-unsplash.jpg">
        </div>
        <div class="contact_info_ctn">
            <div class="contact_info">
                <span class="label">Firstname</span>
                <p class="info">Juanita</p>
            </div>
            <div class="contact_info">
                <span class="label">lastname</span>
                <p class="info">EMARD</p>
            </div>
            <div class="contact_info">
                <span class="label">Email</span>
                <p class="info">juanita.emard@email.com</p>
            </div>
            <div class="contact_info">
                <span class="label">Phone</span>
                <p class="info">+001 0123456789</p>
            </div>
            <div class="contact_info">
                <span class="label">Age</span>
                <p class="info">01 / 01 / 2000 (20 y)</p>
            </div>
            <div class="contact_info">
                <span class="label">Country</span>
                <p class="info">United Kingdom (GBR)</p>
            </div>
        </div>
        <div class="input_ctn btns">
            <a href="#" class="input_btn btn btn_label round b_red c_white">Remove from friends</a>
            <a href="#" class="input_btn btn btn_label round b_blue c_white">Do transfer</a>
        </div>
    </section>
</body>
</html>