<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="contact-profile">
    <header th:replace="header_frg :: main_header"></header>
    <nav th:replace="navigation_frg :: navigation('contact')"></nav>
    <main class="main_content">
        <section id="contactProfile_ctn" class="block_ctn">
            <a th:href="@{/contact}" class="backBtn btn circle b_white">
                <svg class="feather f_black">
                    <use th:href="@{/assets/icons/feather-sprite.svg#chevron-left}"/>
                </svg>
            </a>
            <div class="contactProfilePicture">
                <img th:if="${user.getProfilePictureExt() != null}" th:src="@{'/assets/profilePicture/' + ${user.id} + '_' + ${user.firstName} + '_' + ${user.lastName} + ${user.getProfilePictureExt()}}">
                <img th:unless="${user.getProfilePictureExt() != null}" th:src="@{/assets/icons/user.svg}">
            </div>
            <div class="contact_info_ctn">
                <div class="contact_info">
                    <span class="label">Firstname</span>
                    <p class="info capitalize" th:text="${user.firstName}"></p>
                </div>
                <div class="contact_info">
                    <span class="label">lastname</span>
                    <p class="info uppercase" th:text="${user.lastName}"></p>
                </div>
                <div class="contact_info">
                    <span class="label">Email</span>
                    <p class="info" th:text="${user.email}"></p>
                </div>
                <div class="contact_info">
                    <span class="label">Age</span>
                    <p class="info" th:text="${user.getCastedBirthday()} + ' (' + ${user.getAge()} + 'y)'"></p>
                </div>
                <div class="contact_info">
                    <span class="label">Country</span>
                    <p class="info" th:text="${user.getCountry().getWording()} + ' (' + ${user.getCountry().getCode()} + ')'"></p>
                </div>
            </div>
            <div class="input_ctn btns">
                <a th:if="${friendship}" th:href="@{/contact/friends/remove?id={id}&from={from} (id=${user.id}, from='/contact/profile/')}" class="input_btn btn btn_label btn_anim round b_red c_white">Remove from friends</a>
                <a th:unless="${friendship}" th:href="@{/contact/friends/add?id={id}&from={from} (id=${user.id}, from='/contact/profile/')}" class="input_btn btn btn_label btn_anim round b_green c_white">Add to friends</a>
                <a th:href="@{/transfer?to={friend_id} (friend_id=${user.id})}" class="input_btn btn btn_label btn_anim round b_blue c_white">Do transfer</a>
            </div>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>