<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="manageCard">
    <header th:replace="header_frg :: main_header"></header>
    <nav th:replace="navigation_frg :: navigation('account')"></nav>
    <main class="main_content">
        <section id="manageCard" class="block_ctn">
            <a th:href="@{/account}" class="backBtn btn circle b_white">
                <svg class="feather f_black">
                    <use th:href="@{assets/icons/feather-sprite.svg#chevron-left}"/>
                </svg>
            </a>
            <h1 class="title_ctn">Manage your cards</h1>
            <div class="cards_ctn">
                <div th:each="card : ${cards}" class="card">
                    <div class="bankCardLayer">
                        <img th:if="${card.type == 'VISA'}" th:src="@{/assets/icons/visa.svg}" class="bankCardLayer_img"/>
                        <img th:unless="${card.type == 'VISA'}" th:src="@{/assets/icons/mastercard_simply.svg}" class="bankCardLayer_img"/>
                        <div class="bankCardLayer_nbr_ctn c_white">
                            <span class="bankCardLayer_nbr" th:text="${card.getNumberHide()[0]}"></span>
                            <span class="bankCardLayer_nbr" th:text="${card.getNumberHide()[1]}"></span>
                            <span class="bankCardLayer_nbr" th:text="${card.getNumberHide()[2]}"></span>
                            <span class="bankCardLayer_nbr" th:text="${card.getNumberSplited()[3]}"></span>
                        </div>
                        <div class="bankCardLayer_info c_white">
                            <span class="bankCardLayer_lib" th:text="${card.wording}"></span>
                            <span class="bankCardLayer_date" th:text="${card.date}"></span>
                        </div>
                    </div>
                    <div class="cardBtns">
                        <a th:href="@{/manage-card/card/edit/{id} (id=${card.id})}" class="btn circle btn_anim b_grey69">
                            <svg class="feather f_white">
                                <use th:href="@{assets/icons/feather-sprite.svg#edit-3}"/>
                            </svg>
                        </a>
                        <a th:href="@{/manage-card/card/remove/{id} (id=${card.id})}" class="btn circle btn_anim b_red">
                            <svg class="feather f_white">
                                <use th:href="@{assets/icons/feather-sprite.svg#x}"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="newCardLayer">
                        <img th:src="@{/assets/icons/cb.svg}" class="bankCardLayer_img"/>
                        <div class="bankCardLayer_nbr_ctn c_black">
                            <span class="bankCardLayer_nbr">****</span>
                            <span class="bankCardLayer_nbr">****</span>
                            <span class="bankCardLayer_nbr">****</span>
                            <span class="bankCardLayer_nbr">0000</span>
                        </div>
                        <div class="bankCardLayer_info c_black">
                            <span class="bankCardLayer_lib">New card</span>
                            <span class="bankCardLayer_date">01/01</span>
                        </div>
                    </div>
                    <div class="cardBtns">
                        <a th:href="@{/manage-card/card/new}" class="btn circle btn_anim b_green">
                            <svg class="feather f_white">
                                <use th:href="@{assets/icons/feather-sprite.svg#plus}"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>