<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="transfer" id="transfer_ctn" class="block_ctn">
        <form>
            <div class="input_ctn select">
                <label for="from" class="input_label">FROM</label>
                <div class="input_select">
                    <div class="selected_option">
                                    <span class="option_icon">
                                        <img src="../static/assets/icons/visa.svg" alt="visa_logo">
                                    </span>
                        <div class="option_info">
                            <h2>BANK ACCOUNT - MORGAN STANLEY</h2>
                            <h3>**** **** **** 1234</h3>
                        </div>
                    </div>
                    <svg class="feather f_greyE1" style="display: none;">
                        <use th:href="@{/assets/icons/feather-sprite.svg#edit-3.svg}"/>
                    </svg>
<!-- REMOVE --> <img class="feather f_greyE1" src="../static/assets/icons/feather/edit-3.svg">
                </div>
                <input type="text" name="from" id="from" class="disable">
            </div>
            <div class="input_ctn select">
                <label for="to" class="input_label">TO</label>
                <div class="input_select">
                    <div class="selected_option">
                                    <span class="option_icon">
                                        <img src="../static/assets/profilePicture/jessica-felicio-_cvwXhGqG-o-unsplash.jpg" alt="visa_logo">
                                    </span>
                        <div class="option_info">
                            <h2>Juanita EMARD</h2>
                            <h3>juanita.emard@email.com</h3>
                        </div>
                    </div>
                    <svg class="feather f_greyE1" style="display: none;">
                        <use th:href="@{/assets/icons/feather-sprite.svg#edit-3.svg}"/>
                    </svg>
<!-- REMOVE --> <img class="feather f_greyE1" src="../static/assets/icons/feather/edit-3.svg">
                </div>
                <input type="text" name="to" id="to" class="disable">
            </div>
            <div class="comp_input_ctn">
                <div class="input_ctn text">
                    <label for="amount" class="input_label">Amount</label>
                    <input type="text" name="amount" id="amount" placeholder="0.00" class="input_text">
                </div>
                <div class="input_ctn radio">
                    <label for="currency" class="input_label c_white">Currency</label>
                    <input type="text" name="currency" id="currency" class="disable">
                    <div class="input_radio_ctn">
                        <span class="currencyRadio btn c_white radio_btn selected" data-value="USD">$</span>
                        <span class="currencyRadio btn c_white radio_btn" data-value="EUR">€</span>
                        <span class="currencyRadio btn c_white radio_btn" data-value="GBP">£</span>
                        <span class="currencyRadio btn c_white radio_btn" data-value="JPY">¥</span>
                    </div>
                </div>
            </div>
            <div class="input_ctn text">
                <label for="description" class="input_label">Description</label>
                <textarea type="text" name="description" id="description" placeholder="Descritpion ..." class="input_textarea"></textarea>
            </div>
            <div class="input_ctn btns">
                <input type="submit" name="submit" id="input_btn_submit" class="input_btn btn btn_label round b_green c_white" value="Validate with password">
            </div>
        </form>
    </section>

    <div th:fragment="tranfer_alert" class="main_alerts disable">
        <div class="alert block_ctn" id="selectAlert">
				<span class="alert_closeBtn btn circle b_white">
					<svg class="feather f_black" style="display: none;">
						<use th:href="@{/assets/icons/feather-sprite.svg#x}"/>
					</svg>
                    <!-- REMOVE --> <img src="../static/assets/icons/feather/x.svg" class="feather"/>
				</span>
            <div class="input_ctn text_icon">
                <svg class="feather f_black" style="display: none;">
                    <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
                </svg>
                <!-- REMOVE --> <img src="../static/assets/icons/feather/search.svg" class="feather"/>
                <input type="text" name="alert_search_field" class="input_text" placeholder="Search ...">
            </div>

            <div class="resultSet_ctn">
                <h1 class="resultSet_sectionTitle">Accounts</h1>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/icons/visa.svg" alt="visa_logo">
						</span>
                    <div class="option_info">
                        <h2>BANK ACCOUNT - MORGAN STANLEY</h2>
                        <h3>**** **** **** 1234</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/icons/buddy_account.png" alt="visa_logo">
						</span>
                    <div class="option_info">
                        <h2>MY BUDDY ACCOUNT</h2>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <h1 class="resultSet_sectionTitle">Friends</h1>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/profilePicture/jessica-felicio-_cvwXhGqG-o-unsplash.jpg" alt="profile_pct">
						</span>
                    <div class="option_info">
                        <h2>Juanita EMARD</h2>
                        <h3>juanita.emard@email.com</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/profilePicture/aiony-haust-3TLl_97HNJo-unsplash.jpg" alt="profile_pct">
						</span>
                    <div class="option_info">
                        <h2>Alexane COLLINS</h2>
                        <h3>alexane.collins@email.com</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/profilePicture/ap-x-90-At__EKm5PGE-unsplash.jpg" alt="profile_pct">
						</span>
                    <div class="option_info">
                        <h2>Ford BASHIRIAN</h2>
                        <h3>ford.bashirian@email.com</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/profilePicture/aiony-haust-3TLl_97HNJo-unsplash.jpg" alt="profile_pct">
						</span>
                    <div class="option_info">
                        <h2>Alexane COLLINS</h2>
                        <h3>alexane.collins@email.com</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
                <div class="result_option">
						<span class="option_icon">
<!-- REMOVE --> <img src="../static/assets/profilePicture/ap-x-90-At__EKm5PGE-unsplash.jpg" alt="profile_pct">
						</span>
                    <div class="option_info">
                        <h2>Ford BASHIRIAN</h2>
                        <h3>ford.bashirian@email.com</h3>
                    </div>
                    <span class="option_btn">
<!-- REMOVE --> <img src="../static/assets/icons/feather/check.svg" class="feather">
						</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>